body {
    width: 656px;
}
.board {
    height: 80px;
    width: 80px;
    float: left;
    margin: auto;
}

.white {
    background: white;
    color: black;
}

.black {
    background: black;   
    color: white;
}

.board:nth-Child(8n+1) {
	clear: both;
}