/* <!-- 
Aufgabe: Aufgabe 3b
Name: Michelle Münch
Matrikel:  254180 
Datum: 09.04.2017
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
--> */
div {
	height: 200px;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    float:left;
}


#deck {
	margin-left: 0px;
	margin-top: 0px;
	border: 1px solid black;
}

#ablage {
	margin-left: 150px;
	margin-top: 0px;
	border: 1px solid black;
}

.hkarten {
	margin-left: 0px;
	margin-top: 300px;
	border: 1px solid black;
}
