body {
    width: 670px;
}
.board {
    height: 80px;
    width: 80px;
    float: left;
    margin: auto;
    border: 1px solid black;
}

.white {
    background: white;
    color: black;
}

.black {
    background: black;   
    color: white;
}

.farbe {
	background-color:  #70CF78;
}
#pfeil {
	display: none;
	position: absolute;
	background-color: #70CF78;
	color: white;
	border:  solid 1px;
	z-index: 10000;
	heigth: 100px;
    width: 300px;
    padding: 1px;
    font-size: 12pt;
}

