body {
    width: 656px;
}
.board {
    height: 80px;
    width: 80px;
    float: left;
    margin: auto;
    border: 1px solid black;
}

.white {
    background: white;
    color: black;
}

.black {
    background: black;   
    color: white;
}

.board:nth-Child(8n+1) {
	clear: both;
}
.farbe {
	background-color: maroon;
}

#tooltip {
	display: none;
	position: absolute;
	background-color: black;
	color: white;
	border: maroon solid 5px;
	z-index: 10000;
	white-space: pre;
    height: 100px;
    width: 300px;
    padding: 6px;
    text-align: center;
    font-size: 20pt;
}